.wrapper {
  margin-top: 10px;
  margin-bottom: 20px;
  background: #c793c9;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
  align-content: center;
  align-items: row;
  border-radius: 6px;
}
